__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/
.DS_Store

# Scratch notebooks
notebooks/notebooks-scratch/

# Optional: ignore future AirNow snapshot files if you rerun live fetches
data/airnow_observations_or_*.parquet

# Optional: ignore shapefile junk if you ever re-download it
data/cb_2022_us_county_500k*
data/cb_2022_us_county_500k/
